h1{ 
    justify-content: center;
    text-align: center;
}

.calc {
  margin-top: 30px;
}

.card {
  width: 19em;
  margin-left: 85vh;
  box-shadow: 0 2px 3px #0ef;
 
}

.inpt {
  width: 16em;
}

.butn {
  width: 63px;
  margin-left: 1px;
  margin-top: 6px;
  margin-bottom: 2px;
 
}

.butn-clear {
  width: 255px;
  margin-left: 1px;
  margin-top: 4px;
  margin-bottom: 2px;
}
